<div class="popup-header">
  <a (click)="onCancel()">x</a>
</div>

<div class="popup-body">
  <div class="form-container">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-lg-6">
        <label class="d-block">Add Role</label>
        <input type="text" [(ngModel)]="rolesName" required pattern="^[a-zA-Z]+$" placeholder="Enter Role Name" class="input-filed" />
      </div>

      <div class="col-xl-6 col-md-6 col-lg-6">
        <label class="d-block">Active</label>
        <input type="checkbox" [(ngModel)]="isActive" />
      </div>
    </div>
  </div>

  <div class="actions">
    <button (click)="onSaveRole()">{{buttontext}}</button>
    <button (click)="onCancel()">Cancel</button>
  </div>
</div>

<!-- <div class="table-scroll"> -->
  <div>
  <table>
    <thead>
      <tr>
        <th>Edit</th>
        <th>Role Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rolesinfo of roleForCurrentPage">
          <td data-label="Edit" (click)="onEditRole(rolesinfo)">
            <i class="fa-solid fa-pen-to-square"></i>
          </td>
          
          <!-- Role Name -->
          <td data-label="roleName">{{ rolesinfo?.role_name }}</td>
         
          <!-- Editable Checkbox for is_Active -->
          <td data-label="isActive">
              <input type="checkbox" [checked]="rolesinfo?.is_active "  />
          </td>
        </tr>
        
    </tbody>
  </table>

  <!-- <div class="pagination-controls">
    <button (click)="changePage(1)" [disabled]="currentPage === 1">First</button>
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    <button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">Last</button>
  </div> -->
</div>
