<ngx-spinner 
bdOpacity = 1.0
bdColor = "rgba(51,51,51,0.42)"
size = "medium"
color = "#fff"
type = "line-scale-pulse-out-rapid"
[fullScreen] = "true">
<img src="assets/images/loader.gif" alt="" title="" height="60" />
</ngx-spinner>

<div class="login-page row">
    <div class="login-left-container col-xl-12 col-md-12 col-lg-12">
        <div class="crousal-container">
            <!-- <div>
                <h1>Welcome to <span>
                    Customer Experience </span>
                    <span>Help Desk.</span>
                    </h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <img src="./assets/images/Home-Hero.jpg"> -->
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="login-right-container col-xl-4 col-md-5 col-lg-5">
        
        <div class="login-form">
            <img src="/assets/images/aurionpros_white-2.png">
            <h1>Login</h1>
            <small *ngIf="commonError" class="text-danger">{{ commonError }}</small>
            <input type="text" class="input-filed" placeholder="User Id" autocomplete="username" id="username" [(ngModel)]="usernameValue" required>
            <div class="position-relative">
                <input [type]="isPasswordVisible ? 'text' : 'password'" autocomplete="password" class="input-filed input-filed-pass" placeholder="Password" id="password" [(ngModel)]="passwordValue" (input)="onInputChange($event)" requireds>
                <span class="eye-icon" (click)="togglePasswordVisibility()">
                    <i [ngClass]="isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                  </span>
            </div>
            <a class="forgot"><p>Forgot Password ?</p></a>
            <!--  <a href="dashboard.html" class="button">Log In</a> -->
            
            <!-- <div class="input-filed">
                <input type="text" id="username" [(ngModel)]="usernameValue" (input)="onInputChange($event)" required/>
                <label (click)="focusinp('usr')" for="username" [class.floating]="usernameValue">Username</label>
                <small *ngIf="usernameError" class="text-danger">{{ usernameError }}</small>
            </div> 

            <div class="input-filed">
                <input type="password" id="password" [(ngModel)]="passwordValue" (input)="onInputChange($event)" required/>
                <label (click)="focusinp('pass')" for="password" [class.floating]="passwordValue">Password</label>
                <small *ngIf="passwordError" class="text-danger">{{ passwordError }}</small>
            </div> -->
            <button type="button" (click)="login()">Login</button>
        </div>
    </div>
</div>

    <!-- <div class="container">
        <div class="pic2"></div>
        <img src="./assets/images/LogoExperia.png" alt="">
      
        <h1>Log in To Continue</h1>
        <small *ngIf="commonError" class="text-danger">{{ commonError }}</small>
        <div class="inp">
            <input type="text" id="username" [(ngModel)]="usernameValue" (input)="onInputChange($event)" required/>
            <label (click)="focusinp('usr')" for="username" [class.floating]="usernameValue">Username</label>
            <small *ngIf="usernameError" class="text-danger">{{ usernameError }}</small>
        </div> 

        <div class="inp">
            <input type="password" id="password" [(ngModel)]="passwordValue" (input)="onInputChange($event)" required/>
            <label (click)="focusinp('pass')" for="password" [class.floating]="passwordValue">Password</label>
            <small *ngIf="passwordError" class="text-danger">{{ passwordError }}</small>
        </div>
          
          <button type="button" (click)="login()">Login</button>
          
    </div> -->

