.main-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
  }
  
  .sidebar-container {
    position: fixed;
    width: 250px; /* Set width for the sidebar */
    height: 100vh;
    background-color: #333;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .content-container {
    margin-left: 250px; /* Add space for sidebar */
    flex-grow: 1;
    overflow: auto;
  }
  .pagination-controls {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .pagination-controls span {
    font-size: 16px;
    margin: 0 10px;
  }
  .pagination-controls {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination-controls button {
    margin: 0 5px;
  }
  
  .pagination-controls span {
    margin: 0 10px;
  }
  
  
  
