@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

/*Global*/
body {
    font-family: 'Open Sans';
    line-height: 100%;
    background: #d75f70;
}

.main {
    width: 800px;
    margin: 160px auto;
    text-align: center;
}

h1, h2, h3 {
    color: #fff;
}

h1 {
    margin-bottom: 30px;
    font-size: 44px;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

h3 {
    font-size: 21px;
}

p {
    font-size: 18px;
    color: #ffd5df;
}

.btn {
    margin-top: 30px;
    padding: 2.2% 5.5%;
    display: inline-block;
    -webkit-transition: all linear 0.15s;
    transition: all linear 0.15s;
    border-radius: 3px;
    background: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    &:hover

{
    opacity: 0.75;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
