<header>
  <div>
      <img class="logo" src="./assets/images/header-logo.png">
  </div>
  <div style="position: relative;">
    <div class="profile" (click)="toggleMenu('menu')">
          <!-- <div class="img-box">
            <img src="./assets/images/loginLogo.png" alt="some user image">
          </div> -->
          <div class="user">
            <h3>{{this.userName}}</h3>
            <p style="margin-bottom: 0px;">{{this.roleName}}</p>
          </div>
        </div>
        <div class="menu" [class.active]="menuVisible">
          <ul>
            <li><a href="#"><i class="fa-solid fa-user"></i>&nbsp;Profile</a></li>
            <li><a href="#"><i class="fa-solid fa-gear"></i>&nbsp;Set Password</a></li>
            <li><a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Log Out</a></li>
          </ul>
        </div>
  </div>
  
 </header>