<!-- 
  <app-navbar></app-navbar>
  <main>
    <div class="d-flex">
        <app-sidebar class="left-side-bar"></app-sidebar>
      
        @switch (storedValue) {
            @case ("clients") {
                <app-client class="right-side-container"></app-client>
              } 
              @case ("products") {
               <app-product class="right-side-container"></app-product>
              } 
              @case ("regions") {
               <app-region class="right-side-container"></app-region>
              } 
              @default {
                <app-client class="right-side-container"></app-client>
              }
          }


        
    </div>
  </main> -->
<router-outlet></router-outlet>
<!-- <app-sidebar (tabSelected)="onTabSelect($event)"></app-sidebar> -->
