
<div class="popup-header">
    <h4><b>{{savetext}} Spare</b></h4>
    <a (click)="onCancel()" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
</div>

<div class="popup-body">
    <div class="form-container">
        <div class="row" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <!-- Spare Name -->
            <div class="col-xl-6 col-md-6 col-lg-6">
                <label for="spareName" class="d-block">Spare Name</label>
                <input
                    id="spareName"
                    type="text"
                    maxlength="100"
                    required
                    placeholder="Enter Spare Name"
                    class="input-filed"
                    [(ngModel)]="sparename"
                    (ngModelChange)="onSpareVariantName()"
                />
            </div>

            <!-- Active Checkbox -->
            <div class="col-xl-6 col-md-6 col-lg-6">
                <label for="isActive" class="d-block">Active</label>
                <input
                    id="isActive"
                    type="checkbox"
                    [(ngModel)]="isActive"
                    name="isActive"
                />
            </div>
        </div>

        <!-- Save Button -->
        <div class="actions">
            <button (click)="onSaveSpareName()">{{savetext}}</button>
        </div>
    </div>
</div>
