<div class="body">


<div class="content">
  <div>
    <div class="tabset">
      <!-- Tab 1 -->
      <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
      <label for="tab1">User</label>
      <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
      <label for="tab2">Role</label>

      <div class="tab-panels">
        <section id="marzen" class="tab-panel">
          <main>
            <div class="tab-header">
              <div>
                <h4>User</h4>
              </div>
              <div>
                <button>Add User</button>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <input placeholder="Serach" type="search" name="" id=""><button>Search</button>
            </div>
            <table>
              <thead>
                <tr>
                  <th style="width: 20%;">Username</th>
                  <th style="width: 20%;">LoginID</th>
                  <th style="width: 20%;">Role</th>
                  <th style="width: 10%;">Active</th>
                  <th style="width: 10%;">Delete</th>
                  <th style="width: 10%;">Change Password</th>
                  <th style="width: 10%;">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label="ID">Admin</td>
                  <td data-label="Name">admin</td>
                  <td data-label="Country">Admin</td>
                  <td data-label="Status"><span class="active">Inactive</span></td>
                  <td data-label="Age"><i class="fa-solid fa-trash"></i></td>
                  <td data-label="DOB"><i class="fa-solid fa-wrench"></i></td>
                  <td data-label="Progress"><i class="fa-solid fa-pen-to-square"></i></td>
                </tr>
                <tr>
                  <td data-label="ID">Admin</td>
                  <td data-label="Name">admin</td>
                  <td data-label="Country">Admin</td>
                  <td data-label="Status"><span class="active">Inactive</span></td>
                  <td data-label="Age"><i class="fa-solid fa-trash"></i></td>
                  <td data-label="DOB"><i class="fa-solid fa-wrench"></i></td>
                  <td data-label="Progress"><i class="fa-solid fa-pen-to-square"></i></td>
                </tr>
                <tr>
                  <td data-label="ID">Admin</td>
                  <td data-label="Name">admin</td>
                  <td data-label="Country">Admin</td>
                  <td data-label="Status"><span class="inactive">Inactive</span></td>
                  <td data-label="Age"><i class="fa-solid fa-trash"></i></td>
                  <td data-label="DOB"><i class="fa-solid fa-wrench"></i></td>
                  <td data-label="Progress"><i class="fa-solid fa-pen-to-square"></i></td>
                </tr>
              </tbody>
            </table>
          </main>

      
      </section>
      <section id="rauchbier" class="tab-panel">
        <main>
          <div class="tab-header">
            <div>
              <h4>Role</h4>
            </div>
            <div>
              <button>Add Role</button>
            </div>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input placeholder="Serach" type="search" name="" id=""><button>Search</button>
          </div>
          <table>
            <thead>
              <tr>
                <th style="width: 50%;">Role</th>
                <th>ManagePermission</th>
                <th>Active</th>
                <th>Delete</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Name" style="width: 40%;">admin</td>
                <td data-label="Country"><i class="fa-solid fa-gear"></i></td>
                <td data-label="Status"><span class="active">Active</span></td>
                <td data-label="Age"><i class="fa-solid fa-trash"></i></td>
                <td data-label="Progress"><i class="fa-solid fa-pen-to-square"></i></td>
              </tr>
              <tr>
                <td data-label="Name" style="width: 40%;">admin</td>
                <td data-label="Country"><i class="fa-solid fa-gear"></i></td>
                <td data-label="Status"><span class="inactive">Inactive</span></td>
                <td data-label="Age"><i class="fa-solid fa-trash"></i></td>
                <td data-label="Progress"><i class="fa-solid fa-pen-to-square"></i></td>
              </tr>
              <tr>
                <td data-label="Name" style="width: 40%;">admin</td>
                <td data-label="Country"><i class="fa-solid fa-gear"></i></td>
                <td data-label="Status"><span class="inactive">Inactive</span></td>
                <td data-label="Age"><i class="fa-solid fa-trash"></i></td>
                <td data-label="Progress"><i class="fa-solid fa-pen-to-square"></i></td>
              </tr>
            </tbody>
          </table>
        </main>
      </section>
    </div>
    </div>

  </div>
</div>
</div>