<div class="popup-header">
  <a (click)="onCancel()"><i class="fa-solid fa-xmark"></i></a>
</div>
<div class="popup-body">
  <div class="form-container">
    <div class="row">
<!-- 
      <div class="col-xl-6 col-md-6 col-lg-6">
        <label class="d-block">Product Name</label>
        <input type="text" maxlength="40" (input)="onClientNameInput()" required
          pattern="^[a-zA-Z]+$" [(ngModel)]="productName" placeholder="Enter Product Name" class="input-filed" />
      </div> -->

      <div class="col-xl-6 col-md-6 col-lg-6">
        <label class="d-block">Product Name</label>
        <input type="text" maxlength="40" required
          pattern="^[a-zA-Z]+$" [(ngModel)]="productName" placeholder="Enter Product Name" class="input-filed" />
      </div>

      <div class="col-xl-6 col-md-6 col-lg-6">
        <label class="d-block">Product Abbr</label>
        <input type="text" [(ngModel)]="productAbbr" placeholder="Enter Product Abbr" class="input-filed" />
      </div>
    </div>
  </div>

  <div class="actions">
    <button (click)="onSaveProduct()">{{savetext}}</button>
  </div>
</div>
